body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #222222;
}

a:hover {
    text-decoration: underline;
}

.flex,
.row {
    display: flex;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    flex: 1;
    padding: 10px;
}

.box {
    background: #e3e3e3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
}

// '>' means all a tag that direct child of nav
nav>a {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    // make the color white, 50% of it
    color: rgba($color: #ffffff, $alpha: 0.5)
}