@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);header {
  background-image: -webkit-gradient(linear, left top, right top, from(#a25b5b), to(#692e4c));
  background-image: linear-gradient(to right, #a25b5b, #692e4c);
}

header h1 {
  margin-top: 0;
  font-size: 1.6em;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  color: white;
  padding-bottom: 50px;
}

.header-top a {
  color: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #222222;
}

a:hover {
  text-decoration: underline;
}

.flex,
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.box {
  background: #e3e3e3;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  padding: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav > a {
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

