@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  width: 475px;
  height: 258px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
}

.card-left,
.card-right {
  padding: 20px;
}

.card-left {
  background: -webkit-gradient(linear, left top, left bottom, from(#21c8f6), to(#637bff));
  background: linear-gradient(to bottom, #21c8f6, #637bff);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 10px;
}

.card-difficulty {
  font-size: 0.8em;
}

.card-skill-button {
  background: rgba(0, 0, 0, 0.4);
  color: inherit;
  text-decoration: none;
  font-size: .7em;
  padding: 3px 25px;
  border-radius: 9999px;
}

.card-right {
  color: #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-title {
  color: #222;
  font-size: 1.7em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.card-title > a {
  color: inherit;
  text-decoration: none;
}

.card-excerpt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
}

.card-meta > div:first-child {
  margin-right: 1em;
}

.card-meta > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-meta > div > img {
  margin-right: 8px;
}

